<div class="body"><div class="nav-bar  sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto ">
                    <a routerLink="/home" class="nav-item nav-link px-4">Home</a>
                    <a routerLink="/services" class="nav-item px-4 nav-link">Services</a>
                    <a routerLink="/price" class="nav-item nav-link px-4">Price</a>
                    <a routerLink="/about" class="nav-item nav-link px-4">About Us</a>
                    <a routerLink="/contactus" class="nav-item nav-link px-4">Contact</a>
                    <a routerLink="/profile" (click)="checklogin()" class="nav-item nav-link px-4">My Profile</a>
                </div>
                <div class="ml-auto">
                    <a class="btn btn-custom" href="#">Book now</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="container register">
    <div class="form-group">
        <span class="material-icons">email</span>
        <label class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          required
          #email="ngModel"
          [class.is-invalid]="email.invalid && email.touched"
          name="email"
          placeholder="Email"
          [(ngModel)]="usermodel.email"
          email
        />
        <small
          [class.d-none]="email.valid || email.untouched"
          class="text-danger"
          >Valid Email required</small
        >
      </div>
      <div class="form-group">
        <span class="material-icons">payments</span>
        <label class="form-label">Amount</label>
        <input
          type="number"
          class="form-control"
          required
          #amount="ngModel"
          [class.is-invalid]="amount.invalid && amount.touched"
          name="amount"
          placeholder="Amount"
          [(ngModel)]="usermodel.amount"
          amount
        />
        <small
          [class.d-none]="amount.valid || amount.untouched"
          class="text-danger"
          >Enter amount</small
        >
      </div>
      <div class="form-group">
        <span class="material-icons">directions_car</span>
        <label class="form-label">Carno</label>
        <input
          type="text"
          class="form-control"
          required
          #carno="ngModel"
          [class.is-invalid]="carno.invalid && carno.touched"
          name="carno"
          placeholder="carno"
          [(ngModel)]="usermodel.carno"
          carno
        />
        <small
          [class.d-none]="carno.valid || carno.untouched"
          class="text-danger"
          > Carno required</small
        >
      </div>
      
     
</div>